body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: ComicNeue;
  src: url('./font/Comic_Neue/ComicNeue-Regular.ttf');
}

@font-face {
  font-family: ComicNeue;
  src: url('./font/Comic_Neue/ComicNeue-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: ComicNeue;
  src: url('./font/Comic_Neue/ComicNeue-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: ComicNeue;
  src: url('./font/Comic_Neue/ComicNeue-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

